[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
opencv-python = "*"
python-multipart = "*"
tensorflow-hub = "*"
numpy = "*"
pillow = "*"
keras = "*"
tensorflow = "*"
tensorflow-tensorboard = "*"
tensorboard = "*"
tb-nightly = "*"
pywin32 = "*"
tf-nightly-gpu = "*"
pandas = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.10"
